:root{

    --primary:#2563eb;
    --secondary:#1d4ed8;

    --dark:#0f172a;
    --card:#1f2937;

    --text:#ffffff;
    --text-light:#cbd5e1;

    --radius:20px;

    --transition:.3s;

    --shadow:
    0 20px 40px rgba(37,99,235,.25);

}