.footer{

    width:100%;

    margin-top:80px;

    background:#020617;

    color:white;

    padding:60px 0 20px;

}



.footer-content{

    width:90%;

    max-width:1200px;

    margin:auto;

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(250px,1fr));

    gap:40px;

}



.footer h2{

    font-size:35px;

    color:#2563eb;

}



.footer h3{

    margin-bottom:20px;

}



.footer p{

    color:#94a3b8;

    line-height:1.8;

}



.footer-bottom{

    width:90%;

    max-width:1200px;

    margin:40px auto 0;

    padding-top:20px;

    border-top:1px solid rgba(255,255,255,.1);

    display:flex;

    justify-content:space-between;

    flex-wrap:wrap;

}



.footer-bottom strong{

    color:#2563eb;

}