.hero-banner{

    width:90%;

    max-width:1300px;

    height:520px;

    margin:40px auto;

    border-radius:30px;

    overflow:hidden;

    background-image:
    linear-gradient(rgba(15,23,42,.55),rgba(15,23,42,.75)),
    url("https://images.unsplash.com/photo-1522202176988-66273c2fd55f?w=1600");

    background-size:cover;

    background-position:center;

    display:flex;

    align-items:center;

}

.overlay{

    width:100%;

    padding:70px;

}

.hero-content{

    max-width:650px;

}

.badge{

    display:inline-block;

    background:linear-gradient(135deg,#2563eb,#7c3aed);

    color:white;

    padding:10px 20px;

    border-radius:999px;

    font-size:15px;

    margin-bottom:25px;

    font-weight:600;

}

.hero-content h1{

    color:white;

    font-size:64px;

    line-height:1.1;

    margin-bottom:20px;

    font-weight:800;

}

.hero-content p{

    color:#e2e8f0;

    font-size:20px;

    line-height:1.8;

    margin-bottom:35px;

}

.hero-buttons{

    display:flex;

    gap:20px;

}

.start-btn{

    background:linear-gradient(135deg,#2563eb,#7c3aed);

    color:white;

    border:none;

    padding:18px 34px;

    border-radius:14px;

    cursor:pointer;

    font-size:17px;

    font-weight:700;

    transition:.3s;

}

.start-btn:hover{

    transform:translateY(-4px);

}

.notes-btn{

    background:rgba(255,255,255,.08);

    color:white;

    border:1px solid rgba(255,255,255,.2);

    backdrop-filter:blur(10px);

    padding:18px 34px;

    border-radius:14px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;

}

.notes-btn:hover{

    background:rgba(255,255,255,.15);

}