.platform-stats{

    width:90%;
    max-width:1300px;

    margin:90px auto;

}

.stats-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

    gap:25px;

}

.stat-card{

    background:#111827;

    border-radius:20px;

    padding:35px;

    text-align:center;

    border:1px solid rgba(255,255,255,.05);

    transition:.35s;

}

.stat-card:hover{

    transform:translateY(-10px);

    background:#2563eb;

    box-shadow:0 20px 40px rgba(37,99,235,.35);

}

.stat-card h2{

    color:white;

    font-size:42px;

    margin-bottom:12px;

    font-weight:800;

}

.stat-card p{

    color:#cbd5e1;

    font-size:18px;

}