.search-section{

    width:90%;

    max-width:1200px;

    margin:35px auto;

}

.search-box{

    display:flex;

    align-items:center;

    background:#1e293b;

    border:2px solid transparent;

    border-radius:18px;

    overflow:hidden;

    transition:.3s;

}

.search-box:focus-within{

    border-color:#2563eb;

    box-shadow:0 0 25px rgba(37,99,235,.3);

}

.search-icon{

    font-size:22px;

    padding:0 20px;

}

.search-box input{

    flex:1;

    border:none;

    outline:none;

    background:transparent;

    color:white;

    font-size:17px;

    padding:18px 10px;

}

.search-box input::placeholder{

    color:#94a3b8;

}

.search-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:18px 28px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.search-btn:hover{

    background:#1d4ed8;

}

.search-tags{

    display:flex;

    flex-wrap:wrap;

    gap:12px;

    margin-top:20px;

}

.search-tags span{

    background:#1f2937;

    color:#cbd5e1;

    padding:8px 18px;

    border-radius:999px;

    cursor:pointer;

    transition:.3s;

}

.search-tags span:hover{

    background:#2563eb;

    color:white;

}