.reviews-section{

    width:90%;
    max-width:1300px;

    margin:90px auto;

}

.reviews-section h2{

    text-align:center;

    color:white;

    font-size:38px;

    margin-bottom:50px;

}

.reviews-grid{

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:30px;

}

.review-card{

    background:#1e293b;

    padding:35px;

    border-radius:20px;

    transition:.35s;

    border:1px solid rgba(255,255,255,.05);

}

.review-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(37,99,235,.25);

}

.stars{

    font-size:22px;

    color:#facc15;

    margin-bottom:20px;

}

.review-text{

    color:#cbd5e1;

    line-height:1.8;

    font-size:17px;

    margin-bottom:25px;

}

.review-card h3{

    color:white;

    margin-bottom:5px;

}

.review-card span{

    color:#94a3b8;

}